.w3-theme-red {color:#fff !important; background-color:#770000 !important}
.w3-hover-theme:hover {color:#000 !important; background-color:#f4eded !important}
.w3-border-theme {border-color:#770000 !important}
.w3-text-theme-red {color:#770000 !important}
.w3-important-red {background-color: rgba(244, 67, 54, .6)}
.w3-hover-theme-red:hover {color:#000 !important; background-color:#770000 !important}
.w3-background {background-color:#f4eded}
.w3-search-bar-grey {background-color:#CCCCCC}

header{
    overflow: auto;

}
body {
    background-color: #F4EDED;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:30px;
}

.form-contents {
    display: none;
}
