.w3-theme-red {color:#fff !important; background-color:#770000 !important}
.w3-theme-orange {color:#fff !important; background-color: #c87218 !important}
.w3-theme-teal {color:#fff !important; background-color: #1b7775 !important}
.w3-theme-darkblue {color:#fff !important; background-color: #090c77 !important}
.w3-theme-blue {background-color: #3D587D !important; color: #ffFFFF;}
.w3-hover-theme:hover {color:#000 !important; background-color:#f4eded !important}
.w3-border-theme {border-color:#770000 !important}
.w3-text-theme-red {color:#770000 !important}
.w3-important-red {background-color: rgba(244, 67, 54, .6)}
.w3-hover-theme-red:hover {color:#000 !important; background-color:#770000 !important}
.w3-background {background-color:#f4eded}
.w3-search-bar-grey {background-color:#CCCCCC}

/* Sets the style for the general page of all the users */
header {
    overflow: auto;
}
body {
    background-color: #F4EDED;
}

/* Defines the "container" size and position for the main elements of a Student, Faculty, Faculty, and Staff's page */
.main_content_page {
    margin-left: 15%;
    margin-top: 43px;
    margin-bottom: 80px;
    width: 64%;
    float: left;
}

/* Sets the style of the forms' contents text */
.form_content_text {
    font-family: serif;
    font-size: 15px
}

/* Sets the style for general buttons. For clicking and hovering */
.button_properties:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button_properties:active {
    opacity: 0.5;
}

/* Sets the styles of the search button of the search bar that is used for student coordinators, faculty, and staff */
.search_button {
    width: 100px;
    position: absolute;
    margin-left: -100px;
    height: 39px;
    border-radius: 5px;
    background-color: #770000;
    color: #fff;
    visibility: hidden;
    outline: none;
    cursor: pointer;
    border: none;
}

/* Sets the style for the button in which is used to show all students for the coordinators, faculty, and staff */
.all_students_button {
    width: 55px;
    position: absolute;
    margin-left: 10px;
    height: 39px;
    border-radius: 5px;
    background-color: #365880;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}

/* Sets the style for each of the student's entry when searching for a student. All the entries will seem like a button */
.student_entry_button {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    outline: none
}

/* Sets the style for the search bar of student coordinators, faculty, and staff */
.search_input {
    margin-top: 0px;
    width: calc(100% - 65px);
    outline: none;
    position: relative;
    float: left;

    padding: 6px;
    border-style: solid;
    border-width: thin;
    border-color: #8d8d8d;
    font-size: 17px;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    cursor: text;

    transition: box-shadow, border-color 1.5s;
}
.search_input:hover {
    border-color: rgba(0,149,255,0.5);
    box-shadow: inset 0 0 2px #d3d6da, 0 0 2px rgba(0,149,255,0.2);
}
.search_input:focus {
    border-color: #0095ff;
    box-shadow: inset 0 2px 2px #fafafb, 0 0 5px rgba(0,119,204,0.4);
}

/* Sets the style of the button used to switch between completed forms and in-progress forms */
.forms_tab_button {
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: #05307d;
    background-color: transparent;
    transition: color .2s;
    outline: none;
    text-transform: uppercase;
    padding: 0;
    margin-right: 24px;
    margin-left: 0px;
}
.forms_tab_button:hover {
    color: #054ee1 !important;
}
.forms_tab_button:active {
    border-bottom-color: #054ee1 !important;
    color: #054ee1 !important;
}

/* Sets the style for the button that is used to go back to the previous page on the student coordinator, faculty, and staff screen */
.switch_page_grids_button:hover {
    background-color: #d7d0d0;
}
.switch_page_grids_button:active {
    background-color: #ada6a6;
}

/* Button used for the popups of the Faculty and Staff, when approving or declining forms */
.approval_button {
    width: 150px;
    height: 30px;
    border-radius: 6px;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}

/* Sets the style of the "div" tag of the "textarea" tags of Faculty and Staff approval processing of forms */
.declined_text_box_div {
    margin-left: 16px;
    margin-right: 16px;
    overflow: auto;
    display: block;
    width: calc(100% - 32px);
}

/* Sets the style of the "textarea" tags of Faculty and Staff approval processing of forms */
.declined_text_box {
    width: 100%;
    float: left;
    height: 60px;
    resize: vertical;
    max-height: 150px;
    min-height: 60px;

    outline: none;
    position: relative;
    padding: 6px;
    border-style: solid;
    border-width: thin;
    border-color: #8d8d8d;
    font-size: 17px;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    cursor: text;
    transition: box-shadow, border-color 1.5s;
}
.declined_text_box:hover {
    border-color: rgba(0,149,255,0.5);
    box-shadow: inset 0 0 2px #d3d6da, 0 0 2px rgba(0,149,255,0.2);
}
.declined_text_box:focus {
    border-color: #0095ff;
    box-shadow: inset 0 2px 2px #fafafb, 0 0 5px rgba(0,119,204,0.4);
}

/* Button used for the popups of the Faculty and Staff, when submitting their final decision on either approving or not forms */
.submit_approval_button {
    float: right;
    margin-right: 20px;
    background-color: #6897bb;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}

/* Sets the style for when a button is pressed/active and when a button is inactive */
.button_active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button_inactive {
    opacity: 0.2;
}

/* Aligns text of "span" elements for the tracking checkmarks */
.centered_elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Skeleton for the "span" elements for the tracking checkmarks */
.checkmark_skeleton {
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

/* Sets the style for the start checkmark */
.start_checkmark {
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

/* Sets the style for the gray tracking bar */
.tracking_line {
    display: block;
    border-bottom: 3px solid #000000;
    width: 45px;
    margin-left: 5px;
}

/* Sets the style of the triangle/arrow of the tracking bar */
.line_arrow {
    /* top: 2pt; Uncomment this to lower the icons as requested in comments*/
    width: 0.6em;
    height: 0.6em;
    border-right: 0.2em solid #000000;
    border-top: 0.2em solid #000000;
    transform: rotate(45deg);
    margin-left: -8px;

    border-bottom-left-radius: 60px;
}

/* Sets the style for the checkmark description below the checkmarks */
.checkmark_text {
    width: 0;
    height: 0;
    margin: 0px;
    font-size: 11px;
    right: 24px;
    position: relative;
    top: 12px;
}
