.progress-meter {
  padding: 0;
}

ul.progress-meter {
  padding-bottom: 9.5px;
  list-style-type: none;
}
ul.progress-meter li {
  display: inline-block;
  text-align: center;
  text-indent: -19px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
ul.progress-meter li:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);
}
ul.progress-meter li.done {
  font-size: 12px;
}
ul.progress-meter li.done:before {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}
ul.progress-meter li.todo {
  font-size: 12px;
}
ul.progress-meter li.todo:before {
  content: "?";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}
ul.progress-meter li.denied {
  font-size: 12px;
}
ul.progress-meter li.denied:before {
  content: "\2717";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}
ul.progress-meter li.done {
  color: black;
  border-bottom-color: green;
}
ul.progress-meter li.done:before {
  color: white;
  background-color: green;
}
ul.progress-meter li.todo {
  color: silver;
  border-bottom-color: silver;
}
ul.progress-meter li.todo:before {
  color: white;
  background-color: silver;
}
ul.progress-meter li.denied {
  color: silver;
  border-bottom-color: red;
}
ul.progress-meter li.denied:before {
  color: white;
  background-color: red;
}

