/* Defines the "container" size and position for the main elements of a Student's page */
.main_content_page {
    margin-left: 15%;
    margin-top: 43px;
    width: 64%;
    float: left;
}

/* Button used to close single notifications in Student's view */
.notification_button {
    float: right;
    padding: 1px 8px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
.notification_button:hover {
    background-color: #9e9e9e;
}
