.w3-theme-red {color:#fff !important; background-color:#770000 !important}
.w3-hover-theme:hover {color:#000 !important; background-color:#f4eded !important}
.w3-border-theme {border-color:#770000 !important}
.w3-text-theme-red {color:#770000 !important}

body {
    background-color: #F4EDED;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
}